/* Defolt-class */

h1,h2,h3,p {
        margin-top: 0;
        margin-bottom: 0;
}

ul,ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

img {
        display: block; 
        max-width: 100%; 
        height: auto;
}

.container {
        width: 1158px;
        margin: 0 auto;
        padding-left: 15px; 
        padding-right: 15px;
        }

.header-flax {
        display: flex;
        align-items: center;

        }

.link {
   text-decoration: none;     
}

.list {
        list-style-type: none;
}

/* Bodi */
body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background: #FFF;
}

/* Header */

.nav-list-menu {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        width: 100%;
        max-width: 785px;
        justify-content: space-between;
        
}

.top-line {
        border-bottom: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
 
}

.logo {
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        display: block;
}

.studio {
    color: #2E2F42;
}

.nav-list {
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block ;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list:hover,   
.nav-list:focus { 
        color: #404bbf;
        }

/* .nav-list:hover::after,
.nav-list:focus::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean, #404BBF);
        position: absolute;
        left: 0;
        bottom: -1px;*/
        



.current {
color: #404BBF;

}

.current::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean, #404BBF);
        position: absolute;
        left: 0;
        bottom: -1px;
        
}

.navigation-items  {
        display: flex;
        align-items: center;
        justify-content: space-between;
                
}

.top-adress {
        font-style: normal;
        margin-left: auto;
}


.top-adress-flex {
        display:flex;
        align-items:center;
        gap: 40px;
        
}

.header-address-link {
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
        color: #404bbf;
}

/* Section 1 */

.top-section {
        max-width: 1440px;
        background: #2E2F42;
        margin: auto;
    padding: 188px 0;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)
    ), 
    url(../images/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
        }

.solution-cont {
        align-items: center;
         
}

.top-section-title {
        color:  #FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        display: block;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
        
        
        }

.button {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFF;
        background: #4D5AE5;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        text-align: center;
        padding: 16px 32px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
        background-color: #404BBF;
}

/* Section 2 */

.section-title {
background: #FFF;
padding-top: 120px;
padding-bottom: 120px;

}
.visually-hidden {
        overflow: hidden;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
}

.advantages-icon {
        display: flex;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid var(--lightslate, #8E8F99);
        background: var(--cloud, #F4F4FD);
        margin-bottom: 8px;
}



.advantages-list {
        display: flex;
        gap: 24px;
        }

.advantages-list-item {
        width: calc((100% - 72px) / 4);
}

.section-title-item {
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.title-item-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}


/* Section 3 */

.ourteam-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.ourteam-section-flax {
       display: flex;
       gap: 24px;

}

.ourteam-title {
        color:  #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 72px;
}

.teamcard {
        background:  #FFF;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.teamcard-title {
        color:  #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        
        
}

.teamcard-position {
        color:  #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
        
}
.teamcard-text {
        padding: 32px 0;
      
}

.social-list {
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
}

.social-list-title{
        width: 40px;
        height: 40px;
        margin-top: 8px;
}

.social-list-ellips {
        width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-ellips:hover, 
.social-list-ellips:focus {
        background-color: #404bbf;
}



.social-list-icon {
        fill: #F4F4FD
}

/* Section 4 */

.portfolio {
        background: #FFF;
        padding-top: 120px;
        padding-bottom: 120px;
}

.portfolio-header {
        color:  #2E2F42;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
        
}

.project-card {
        background: #FFF;
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

 .project-card:hover {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        
 }

.project-card-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
        }

.overlay-project-card {
        position: relative;
        overflow: hidden;
}


.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--iris, #4D5AE5);
        color: #F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 40px; 
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 40px;
        overflow: auto;
        transform: translateY(100%);
        transition: transform 250ms ease-out;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay {
        transform: translateY(0%);
        transition: background-color 250ms 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
                0px 1px 1px 0px rgba(46, 47, 66, 0.16),
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.card-text {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        
}

.project-card-title {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2; 
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.project-card-text {
        color:  #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}


/* Footer */

.under-page {
background: var(--navyblue, #2E2F42);
padding: 100px 0;
}

.studio-footer  {
                color: #F4F4FD;
                font-family: Raleway;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.16;
                letter-spacing: 0.03em;
                text-transform: uppercase;
}

.footer-text {
                color: #F4F4FD;
                width: 264px;
                line-height: 24px;
                letter-spacing: 0.32px;
                 }

.web-futer {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 16px;
}

.logo-web-footer {
        margin-right: 120px;
}

.logo-footer {
        color: #4D5AE5;
                font-family: "Raleway", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                display: inline-block;
}
              
.social-list-ft {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
}
 
.social-footer-title {
        margin-right: 80px;
}

.social-list-title-footer {
        width: 40px;
        height: 40px;
}
 .social-footer-text {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
 }

.footer-container {
        display: flex;
        align-items: baseline;
}

 .sle {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 



.sle:hover, 
.sle:focus {
background-color: #31d0aa;
}


.text-form {
        color: var(--WHITE, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        
}

.form-email {
        color: var(--WHITE, #FFF);
                font-size: 12px;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.04em;
                border-radius: 4px;
        border: 1px solid var(--WHITE, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        margin: auto;
        width: 264px;
        height: 40px;
        background: var(--NAVY-BLUE, #2E2F42);
        background-color: transparent;
        padding-left: 16px;
        
}

.form-email::placeholder {
color: var(--WHITE, #FFF);

        
}

.form-button-subscribe {
        display: inline-flex;
        min-width: 165px;
        height: 40px;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        max-width: 100%;
        font-size: 16px;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                color: var(--WHITE, #FFF);
        cursor: pointer;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button-subscribe:hover, 
.form-button-subscribe:focus {
        background-color: #404BBF;
}


.text-form-block {
        display: flex;
        gap: 24px;
}

.form-block-email {
        width: 264px;
        height: 40px;
        color: var(--WHITE, #FFF);
        font-size: 12px;
        font-weight: 400;
        line-height: 2.0;
        letter-spacing: 0.04em;
        text-align: start;
}

.email-fly {
        margin-left: 16px;
}


 /* backdrop */

.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
        width: 100%;
        height: 100%;
        background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        opacity: 0; 
        visibility: hidden;
        pointer-events: none;
}

.backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

 /* modal */

.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        padding-top: 72px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        border-radius: 4px;
        background: var(--DAIRY, #FCFCFC);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        top: 24px;
        right: 24px;
        border-radius: 12px;
        background-color: var(--CORNFLOWER, #E7E9FC);
        stroke-width: 1px;
        stroke: rgba(0, 0, 0, 0.10);
        border: 1px solid rgba(0, 0, 0, 0.1);
        fill: #2e2f42;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
background-color: var(--OCEAN, #404BBF);
fill: #FFF;
border: none;
}


.close-btn-icon {
        padding: 0;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-descriptiption {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        margin-bottom: 16px;
}

.review-form-line-lable {
        color: var(--LIGHT-SLATE, #8E8F99);
                font-size: 12px;
                font-weight: 400;
                line-height: 1.17;
                letter-spacing: 0.04em;
                display: block;
                margin-bottom: 4px;
}

.review-form-line {
margin-bottom: 8px;
}

.review-form-line-input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.review-form-line-input:focus {
        border-color: #4D5AE5;
        outline: transparent;
}


.reviw-form-line-icon {
        fill: #2e2f42;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-line-input:focus+.reviw-form-line-icon {
    fill: #4D5AE5;    
}

.form-wrapper {
position: relative;

}

.form-comment {
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        padding: 8px 16px;
        resize: none;
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
        border-color: #4D5AE5;
        outline: transparent;
}

.form-comment::placeholder {
        var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.review-wrapper {
margin-bottom: 16px;
}

/* .review-lable {
color: var(--LIGHT-SLATE, #8E8F99);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        display: block;
        margin-top: 16px;
        margin-bottom: 4px;
} */

.review-form-checkbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border: 1px solid  rgba(46, 47, 66, 0.40);
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-input-checkbox:checked 
+ .checkbox-label 
> .review-form-checkbox {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD;

}

.review-input-checkbox:focus +.checkbox-label>.review-form-checkbox {
        outline: 1px solid #F4F4FD;
}


.privasy-link {
        color: #4D5AE5;
        line-height: 16px;
        text-decoration-line: underline;
}

 .checkbox-icon {
        fill: #FFF;
  }
  .checkbox-label {
                font-size: 12px;
                font-weight: 400;
                line-height: 1.17;
                letter-spacing: 0.04em;
                color: var(--LIGHT-SLATE, #8E8F99);
                display: block;
                
  }

  .review-checkbox {
        margin-bottom: 24px;
  }

  .review-form-submit {
        display: block;
        justify-content: center;
        align-items: center;
        min-width: 169px;
        height: 56px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-weight: 500;
        padding: 16px 32px;
        margin-left: 95px;
        color: var(--WHITE, #FFF);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        background-color: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px, rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .review-form-submit:hover,
  .review-form-submit:focus { 
        background-color: #404BBF;
  }
